/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.city-preview {
    height: 184px !important;
}

/* pagination */

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-cursor {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border: 1px solid #dee2e6;
    margin: 0 1px;
}

.page-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1px;
    line-height: 1.25;
    width: 40px;
    height: 40px;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0px !important;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
}

.pagination .pages {
    overflow: hidden;
    width: 198px;
}

.pagination .page-item .page-link {
    color: #626262;
}

.pagination .page-item.active .page-link {
    background: #e9565c;
    border: 1px solid #e9565c;
    color: #fff;
}

.loader {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #fc5b62;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

.error {
    color: #e9565c;
}